{% extends 'base2.html' %}
{% block content %}


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">

    <aside class="menu">
        <div id="mySidenav" class="sidenav">
            <p class="menu-label">
                All Photo Entries
            </p>
        </div>
    </aside>

    <div class="container">
        <div class="columns is-desktop mt-2">

            <div class="column">
                <section class="section">

                    {% for image in images %}
                    <!-- card -->
                    <div class="card my-2">
                        <div class="card-image">
                            <figure class="image-thumbnail is-4">
                                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Placeholder image">
                                <!-- <img src="{{photo.image.url}}" alt="{{photo.img_name}}"> -->
                            </figure>
                        </div>
                        <div class="content mt-4">
                            <div class="card-category">
                                <h2 class="card-title">{{ image.name }}</h2>
                                <hr>
                                <p>Location: {{ image.location }}</p>
                                <p>Description: {{ image.description }}</p>
                                <p>Category: {{ image.category }}</p>
                                <a href="{% url 'details' image.id %}" class="button is-dark is-small mt-2 m-1">View</a>
                            </div>
                            <br>
                        </div>
                    </div>
                    {% empty %}
                    <h3>No Images yet...</h3>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}





